body {
    background-color: #7621b7; /* Light gray background */
}

h2 {
    color: #007bff; /* Bootstrap primary color */
    font-weight: bold;
}

.card-header {
    background-color: #a600ff; /* Primary blue background */
    color: rgb(72, 197, 22); /* White text */
    font-weight: bold;
}

.btn {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Button shadow effect */
}

#responses {
    margin-top: 20px;
    font-size: 1rem; /* Font size for alert messages */
}
